body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight:900;
  line-height: 1.5;
  background: #e9e9df;
  
}

*, *:before, *:after {
  box-sizing: border-box;
}

.base {
  font-size: 25px;
  max-width: 500px;
  margin: 50px auto 0;
}
hr {
  max-width: 500px;
}
p {
  margin: 0 0 5px;
}

/* tab */

.tab {
  max-width: 500px;
  margin: 20px auto;
  cursor: pointer;
}

.tab-head {
  display: block;
  position: relative;
  font-size: 20px;
  padding-top: 0px;
  cursor: pointer;
}

.tab-head:after {
  display: block;
  content: "";
  position: absolute;
  top: 25%;
  right: 10px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 5px 0 5px;
  border-color: black transparent transparent transparent;
}

.tab-checkbox {
  width: 0;
  height: 0;
  appearance: none;
  position: absolute;
}

.tab-img {
  display: none;
  padding: 10px 15px;
  text-align: center;
}

/* Стековерфлоу */
.tab-checkbox:hover ~ .tab-img,
.tab-checkbox:checked ~ .tab-img {
  display: block;
}

/* Какое-то видео на ютубе про аккордеон */
.tab-checkbox:checked ~ .tab-head:after {
  border-style: solid;
  border-width: 0 5px 8px 5px;
  border-color: transparent transparent black transparent;
}

/* Анимация Стековерфлоу */
.phones {
  height: 300px;
  animation-name: Appearance;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(.1,-.6,.2,0);
}


.tab-head:hover {
  color:blue;
}

/* Анимация Фрилансер по жизни */
@keyframes Appearance {
  0% {opacity: 0;}
  100% {opacity: 1;}
}